/dist/
/target/
/Cargo.lock
/edgeray-app/*.log
/edgeray-app/*.wasm

/edgeray-app/src-tauri/gen/android/app/src/main/assets/
/edgeray-app/node_modules/
/edgeray-app/reference-ui-design/node_modules/
/edgeray-app/vendor/